<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/ec11d877c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid py-3 mb-0 pb-0" id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="text-white">StudyCorner</h1>
                </div>
                <div class="col-lg-1 py-3">
                    <p><a href="/home" class="text-white font-weight-bold" id="anchor-tag">Home</a></p>
                   </div>
                   <div class="col-lg-1 py-3">
                    <p><a href="/home/my-profile" class="text-white font-weight-bold" id="anchor-tag">Profile</a></p>
                  </div>
                <div class="col-lg-1 py-3">
                    <p><a href="/logout" class="text-white font-weight-bold" id="anchor-tag">Logout</a></p>
                </div>
            </div>
        </div>
    </div>


    <br>

    <div class="container-fluid ">
        <div class="row">
            <div class="col-6" id="column-one">
                <h4 class="text-center my-4" id="Questions">Posts</h4>



                <% if(posts.length> 0){ %>
                    <% posts.forEach(post=> { %>
                        <a id="each" href="/home/<%= post._id %>">
                            <div class="row mb-4" id="each-post">

                                <div id="each-post-content">
                                    <h4 class="each-post-heading">
                                        <%= post.title %>
                                    </h4>
                                    <p class="each-post-paragraph">By <%= post.createdBy.name %>
                                    </p>
                                    
                                </div>

                            </div>
                        </a>
                        <% }) %>
                            <% }else{ %>
                                <p>No posts... </p>
                                <% } %>
            </div>
            <div class="col-4 mt-5" >
                <div class="row" id="sidebar-home">
                    <a href="/home/writePost">
                    <p>Ask question →</p>
                    </a>
                </div>
               <div class="row" id="sidebar-home">
                <a href="/home/findTeacher">
                   <p>Find teacher →</p>
                </a>
               </div>
            </div>

        </div>
    </div>


    <%- include('./partials/footer.ejs') %>
</body>

</html>