<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StudyCorner | Sign up</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ec11d877c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <div class="jumbotron bg-info py-5">
        <div class="container">
            <h1 class="text-white">StudyCorner</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3 m-auto">
            <div class="card card-body">
                <h3 class="text-center">Sign Up</h3>
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="name" id="name" name="name" class="form-control" placeholder="Enter name"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter email"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Enter password" required />
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control"
                            placeholder="Re-enter password " required />
                    </div>


                    <div class="row ml-1">
                        <div class="col-ml-2">
                            <p>You are : </p>
                        </div>
                        <div class="col-ml-1">
                            <div class="form-check form-check-inline ml-3 mr-0">
                                <input class="form-check-input" type="radio" name="radioProfession" id="studentOption"
                                    value="Student">
                                <label class="form-check-label" for="studentOption">Student</label>
                            </div>
                            <div class="form-check form-check-inline ml-4">
                                <input class="form-check-input" type="radio" name="radioProfession" id="teacherOption"
                                    value="Teacher">
                                <label class="form-check-label" for="teacherOption">Teacher</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mr-0">
                            <p>Location : </p>
                        </div>
                        <div class="col-lg-4 form-group form-group-inline">
                            <input type="name" id="Latitude" name="Latitude" class="form-control" placeholder="Latitude"
                                required />
                        </div>
                        <div class="col-lg-4 form-group form-group-inline">

                            <input type="name" id="Longitude" name="Longitude" class="form-control"
                                placeholder="Longitude" required />
                        </div>

                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary text-center" id="submit-btn">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script>
        if ('geolocation' in navigator) {
            navigator.geolocation.getCurrentPosition((position) => {
                console.log(position.coords.latitude, position.coords.longitude);

                const lat = position.coords.latitude;
                const lon = position.coords.longitude;
                document.getElementById('Latitude').value = lat;
                document.getElementById('Longitude').value = lon;
                const data = { lat, lon };
            });
        } else {
            console.log('Geolocation not available');
        }
        var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");
        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords do not match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</body>

</html>